/* Coolors Exported Palette - coolors.co/292a2e-09814a-78bc61-c0c781-c59b76 */

/* HSL */
$color1: hsla(228, 6%, 17%, 1);
$color2: hsla(153, 87%, 27%, 1);
$color3: hsla(105, 40%, 56%, 1);
$color4: hsla(66, 38%, 64%, 1);
$color5: hsla(28, 41%, 62%, 1);

/* RGB */
$color1: rgba(41, 42, 46, 1);
$color2: rgba(9, 129, 74, 1);
$color3: rgba(120, 188, 97, 1);
$color4: rgba(192, 199, 129, 1);
$color5: rgba(197, 155, 118, 1);