/* Coolors Exported Palette - coolors.co/2a2b2e-5a5a66-a4c2a8-aceb98-87ff65 */

/* HSL */
$color1: hsla(225, 5%, 17%, 1);
$color2: hsla(240, 6%, 38%, 1);
$color3: hsla(128, 20%, 70%, 1);
$color4: hsla(106, 67%, 76%, 1);
$color5: hsla(107, 100%, 70%, 1);

/* RGB */
$color1: rgba(42, 43, 46, 1);
$color2: rgba(90, 90, 102, 1);
$color3: rgba(164, 194, 168, 1);
$color4: rgba(172, 235, 152, 1);
$color5: rgba(135, 255, 101, 1);