@import url('grid.css');
/* @import url('/css/fonts/fa-solid-900.ttf'); */
*, *:after, *:before {
    box-sizing: border-box;
}

::selection {
    background-color: hsla(153, 87%, 27%, 1);
    color: #fff;
}

a, a:visited {
    color: hsla(153, 87%, 27%, 1);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    background: #CACCB9 url('/img/bg02.jpg')no-repeat fixed center;
    background-size: cover;
    line-height: 1.4rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    -ms-flex: 1;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
figure {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 7px 0;
    margin-bottom: 50px;
}
h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    font-family: 'Noto Serif JP', sans-serif;

}

p {
    font-size: 1.25rem;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    line-height: 2rem;
    margin-bottom: 30px;
    
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: hsla(228, 6%, 17%, .8);
    height: 65px;
    width: 100%;
    box-shadow: 1px 1px 8px hsla(228, 6%, 17%, .4);
}


.menu {
     float: right;
}
.menu > li {
    float: left;
    height: 100%;
    position: relative;
}

.menu li.active {
    background-color: hsla(105, 40%, 46%, 1);
}

.menu li.active > a {
    color: hsla(105, 40%, 26%, 1);
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}

.menu > li > a {
    display: block;
    line-height: 50px;
    height: 65px;
    font-size: 1.5rem;
    color: hsla(105, 40%, 56%, 1);
    white-space: nowrap;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
}

.menu li ul li a {
    display: block;
    line-height: 50px;
    font-size: 1rem;
    padding: 7px;
    text-decoration: none;
    text-align: left;
    color: hsla(105, 40%, 56%, 1);
    border-bottom: 1px solid hsla(66, 38%, 64%, .5);
}

.menu li a:hover,
.menu li ul li a:hover {
    background-color: hsla(66, 38%, 64%, 1);
    color: hsla(225, 5%, 17%, 1);
}


.menu li ul {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2000;
    background-color: hsla(228, 16%, 17%, .8);
}

.menu > li:hover > ul {
    display: block;
}
a.logo {
    text-decoration: none;
    display: block;
    font-size: 2.1rem;
    line-height: 60px;
    font-family: 'Noto Serif JP', GEorgia, sans-serif;
    white-space: nowrap;
    color: hsla(105, 70%, 46%, 1);
}

.logo img {
    width: 60px;
    vertical-align: middle;
    margin-right: 15px; 
}

.motto {
    position: absolute;
    top: 40%;
    width: 100%;
}

.motto h1 {
    color: hsla(228, 6%, 17%, 1);
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Serif JP', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 0 0 10px hsla(245, 100%, 100%, .6);
    line-height: 3.5rem;
}

.banner {
    min-height: 720px;
    background: url('/img/bg.jpg') fixed center no-repeat;
    background-size: cover;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(255, 100%, 100%, .35);
}

.full-height {
    height: 100vh;
}
.section-bg-light {
    background-color: #FFFACE;
}

.section-bg-dark {
    background-color: hsla(153, 87%, 27%, .95);
    color: #FFFACE;
    font-weight: 300;
}
.content-block {
    padding: 80px 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Noto Serif JP', sans-serif;
}

.content-block h1,
.content-block h2 {
    text-align: center;
}

.section-bg-light article {
    color:hsla(228, 16%, 17%, 1);
}



.suggestion {
    font-size: 1.5rem;
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    line-height: 2rem;
    font-weight: 300;
}

.suggestion li {
    margin-bottom: 15px;
}

.suggestion li .fas {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 80%;
}

.section-bg-pic {
    padding: 0;
}

.layout-mocco {
    background-color: hsla(28, 41%, 62%, .95);
    color: hsla(228, 6%, 17%, 1);
}

.content-block.contacts-section {
    padding-bottom: 0;
}
.contacts-section h1 {
    font-size: 3.5rem;
}

.contacts-section ul {
    padding-left: 20px;
}
.contacts-section ul li {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;

}

.contacts-section a {
    text-decoration: none;
    color: hsla(228, 6%, 17%, 1);
}

.contacts-section a:hover {
    color: hsla(153, 87%, 27%, 1);
}

.contacts-section .fas {
    color: hsla(153, 87%, 27%, 1);
    margin-right: 3px;
}

.contacts-section .fa-paper-plane {
    font-size: 85%;
}

.map {
    margin-top: 50px;
    height: 550px;
}
.map iframe {
    width: 100%;
    height: 100%;
}

footer {
    background-color: hsla(228, 6%, 17%, 1);
    padding:20px 0;
    color: hsla(66, 38%, 64%, 1);
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}




@media screen and (max-width:1024px) {
    h1 {
        font-size: 2.1rem;
    }
    .col-1_2 {
        width: 100%;
    }
    .align-middle {
        width: 50%;
    }
    img {
        width: 100%;
    }
    .content-block {
        padding: 50px 0;
    }
    .section-bg-pic {
        padding: 0;
    }
}



.gallery-grid .grid-item {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.gallery-grid figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.gallery-grid figcaption {
    position: absolute;
    bottom: -100px;
    width: 100%;
    background-color: hsla(228, 16%, 17%, .8);
    color: hsla(105, 60%, 56%, 1);
    /* height: 0px; */
    padding: 5px 7px;
    font-size: .875rem;
    transition: all ease-in .5s;
    -webkit-transition: all ease-in .5s;
    line-height: 40px;
    white-space: nowrap;
}

.gallery-grid figure:hover > figcaption {
    bottom: 0px;
    /* height: 40px; */
}

.gallery-grid figure img {
    display: block;
    width: 100%;
}

.top-section {
    padding-top: 100px;
}

.light-layout {
    background-color: hsla(54, 100%, 90%, .8);
    min-height: calc(100vh - 72px);
}

.large-style {
    font-size: 2.1rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.marker-style {
    font-size: 2.6rem;
    line-height: 3rem;
    font-family: 'Permanent Marker', cursive;
    /* text-align: right;  */
    white-space: nowrap;
    color: hsla(153, 87%, 27%, 1);
    transform: rotate(7deg);
}

.lunch-menu {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
}



.lunch-list ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.lunch-list ul li {
    margin-bottom: 15px;
    line-height: 2rem;
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.lunch-list ul li .fas {
    display: inline-block;
   font-size: 1.2rem;
   margin-right: 5px;
   margin-bottom: 5px;
   vertical-align: bottom;
  }

.lunch-menu p {
    border-top: 0.5px solid hsla(225, 5%, 17%, 1);
    border-bottom: 0.5px solid hsla(225, 5%, 17%, 1);
    margin: 5px 0;
    padding: 5px 7px;
}

small {
    font-size: .875rem;
    font-style: oblique;
}

hr {
    border: 0;
    height: .5px;
    background-color: hsla(225, 5%, 17%, .6);
}

.btn {
    display: block;
    width: 100%;
    line-height: 50px;
    
    text-align: center;
    background-color: hsla(153, 100%, 30%, 1);
    color: hsla(225, 100%, 100%, 1);
    border: 1px solid hsla(153, 100%, 30%, 1);
    box-shadow: 0;
    font-size: 1.6rem;
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin:25px auto 0 auto;
    cursor: pointer;
}

.btn:hover {
    
    background-color: hsla(153, 87%, 27%, 1);
    color: hsla(225, 95%, 100%, 1);
}

.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}