@import url('grid.css');

*, *:after, *:before {
    box-sizing: border-box;
}

::selection {
    background-color: hsla(153, 87%, 27%, 1);
}

a, a:visited {
    color: hsla(153, 87%, 27%, 1);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    background-color:#CACCB9;
    line-height: 1.4rem;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
figure {
    padding: 0;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 7px 0;
    margin-bottom: 50px;
}

p {
    margin-bottom: 30px;
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: hsla(228, 6%, 17%, .9);
    height: 55px;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 10px hsla(228, 6%, 17%, .3);
}

.menu {
     float: right;
}
.menu li {
    float: left;
    height: 100%;
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}

.menu li a {
    display: block;
    height: 100%;
    line-height: 41px;
    font-size: 1.125rem;
    color: hsla(105, 40%, 56%, 1);
    white-space: nowrap;
    padding: 7px 25px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: hsla(66, 38%, 64%, 1);
    color: hsla(225, 5%, 17%, 1);
}

a.logo {
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
    line-height: 50px;
    font-family: 'Noto Serif KR', GEorgia, sans-serif;
    white-space: nowrap;
    color: hsla(66, 38%, 64%, 1);
}

.logo img {
    width: 60px;
    vertical-align: middle;
    margin-right: 15px; 
}

.motto {
    position: absolute;
    top: 50%;
    width: 100%;
}

.motto h1 {
    color: hsla(228, 6%, 17%, 1);
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Serif KR', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 0 0 10px hsla(245, 100%, 100%, .6);;
}

.parallax {
    min-height: 720px;
    background: url('/img/bg.jpg') fixed center no-repeat;
    background-size: cover;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(255, 100%, 100%, .35);
}

.section-color {
    min-height: 500px;
    background-color: #FFFACE;
}

.content-block {
    padding: 100px 0;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.125rem;
    font-family: 'Source Sans Pro', Tahoma, Verdana, sans-serif;
    font-weight: 300;
    line-height: 1.4rem;
    
}
.content-block h1 {
    text-align: center;
}

.section-green article {
    color:hsla(228, 16%, 17%, 1);
}