@import url('grid.css');

*, *:after, *:before {
    box-sizing: border-box;
}

::selection {
    background-color: hsla(153, 87%, 27%, 1);
    color: #fff;
}

a, a:visited {
    color: hsla(153, 87%, 27%, 1);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    background: #CACCB9 url('/img/bg02.jpg')no-repeat fixed center;
    background-size: cover;
    line-height: 1.4rem;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
figure {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 7px 0;
    margin-bottom: 50px;
}
h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    font-family: 'Noto Serif KR', sans-serif;

}

p {
    font-size: 1.25rem;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    line-height: 2rem;
    margin-bottom: 30px;
    
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: hsla(228, 6%, 17%, .8);
    height: 55px;
    width: 100%;
    box-shadow: 1px 1px 8px hsla(228, 6%, 17%, .4);
}


.menu {
     float: right;
}
.menu > li {
    float: left;
    height: 100%;
    position: relative;
}

.menu li.active {
    background-color: hsla(105, 40%, 46%, 1);
}

.menu li.active > a {
    color: hsla(105, 40%, 26%, 1);
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}

.menu > li > a {
    display: block;
    line-height: 40px;
    height: 55px;
    font-size: 1.125rem;
    color: hsla(105, 40%, 56%, 1);
    white-space: nowrap;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
}

.menu li ul li a {
    display: block;
    line-height: 30px;
    font-size: 1rem;
    padding: 7px;
    text-decoration: none;
    text-align: left;
    color: hsla(105, 40%, 56%, 1);
    border-bottom: 1px solid hsla(66, 38%, 64%, .5);
}

.menu li a:hover,
.menu li ul li a:hover {
    background-color: hsla(66, 38%, 64%, 1);
    color: hsla(225, 5%, 17%, 1);
}


.menu li ul {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2000;
    background-color: hsla(228, 16%, 17%, .8);
}

.menu > li:hover > ul {
    display: block;
}
a.logo {
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
    line-height: 50px;
    font-family: 'Noto Serif KR', GEorgia, sans-serif;
    white-space: nowrap;
    color: hsla(105, 70%, 46%, 1);
}

.logo img {
    width: 60px;
    vertical-align: middle;
    margin-right: 15px; 
}

.motto {
    position: absolute;
    top: 50%;
    width: 100%;
}

.motto h1 {
    color: hsla(228, 6%, 17%, 1);
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Serif KR', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 0 0 10px hsla(245, 100%, 100%, .6);;
}

.banner {
    min-height: 720px;
    background: url('/img/bg.jpg') fixed center no-repeat;
    background-size: cover;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(255, 100%, 100%, .35);
}

.full-height {
    height: 100vh;
}
.section-bg-light {
    background-color: #FFFACE;
}

.section-bg-dark {
    background-color: hsla(153, 87%, 27%, .95);
    color: #FFFACE;
    font-weight: 300;
}
.content-block {
    padding: 80px 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Noto Serif KR', sans-serif;
}

.content-block h1,
.content-block h2 {
    text-align: center;
}

.section-bg-light article {
    color:hsla(228, 16%, 17%, 1);
}

article figure {
    margin: 30px;
}

.suggestion {
    font-size: 1.5rem;
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    line-height: 2.35rem;
    /* list-style-image: url('/img/list-point.png'); */
    /* vertical-align: baseline; */
    font-weight: 300;
}

.suggestion li {
    background: url('/img/list-point.png')no-repeat left;
    padding-left: 35px;
}

.section-bg-pic {
    padding: 0;
}

.contacts-section {
    background-color: hsla(28, 41%, 62%, .95);
    color: hsla(228, 6%, 17%, 1);
    padding: 80px 15px;
}

.contacts-section h1 {
    font-size: 3.5rem;
}

.contacts-section ul {
    padding-left: 20px;
}
.contacts-section ul li {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;

}

.contacts-section a {
    text-decoration: none;
    color: hsla(228, 6%, 17%, 1);
}

.contacts-section a:hover {
    color: hsla(153, 87%, 27%, 1);
}

.contacts-section .fas {
    color: hsla(153, 87%, 27%, 1);
    margin-right: 3px;
}

.contacts-section .fa-paper-plane {
    font-size: 85%;
}

.map {
    height: 500px;
}
.map iframe {
    width: 100%;
    min-height: 500px;
}

footer {
    background-color: hsla(228, 6%, 17%, 1);
    padding:20px 0;
    color: hsla(66, 38%, 64%, 1);
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}




@media screen and (max-width:1024px) {
    h1 {
        font-size: 2.1rem;
    }
    .col-1_2 {
        width: 100%;
    }
    .align-middle {
        width: 50%;
    }
    img {
        width: 100%;
    }
    .content-block {
        padding: 50px 0;
    }
    .section-bg-pic {
        padding: 0;
    }
}



.gallery-grid .grid-item {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.gallery-grid figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.gallery-grid figcaption {
    position: absolute;
    bottom: -100px;
    width: 100%;
    background-color: hsla(228, 16%, 17%, .8);
    color: hsla(105, 60%, 56%, 1);
    /* height: 0px; */
    padding: 5px 7px;
    font-size: .875rem;
    transition: all ease-in .5s;
    -webkit-transition: all ease-in .5s;
    line-height: 40px;
    white-space: nowrap;
}

.gallery-grid figure:hover > figcaption {
    bottom: 0px;
    /* height: 40px; */
}

.gallery-grid figure img {
    display: block;
    width: 100%;
}

.top-section {
    padding-top: 100px;
}

.light-layout {
    background-color: hsla(54, 100%, 90%, .7);
}

.large-style {
    font-size: 2.1rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.marker-style {
    font-family: 'Permanent Marker', cursive;
    text-align: right; 
    white-space: nowrap;
    color: hsla(153, 87%, 27%, 1);
    transform: rotate(7deg);
}

