@import url('grid.css');

*, *:after, *:before {
    box-sizing: border-box;
}

::selection {
    background-color: hsla(153, 87%, 27%, 1);
    color: #fff;
}

a, a:visited {
    color: hsla(153, 87%, 27%, 1);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    background: #CACCB9 url('/img/bg02.jpg')no-repeat fixed center;
    background-size: cover;
    line-height: 1.4rem;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
figure {
    padding: 0;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 7px 0;
    margin-bottom: 50px;
}

p {
    margin-bottom: 30px;
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: hsla(228, 6%, 17%, .7);
    height: 55px;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 8px hsla(228, 6%, 17%, .4);
}


.menu {
     float: right;
}
.menu li {
    float: left;
    height: 100%;
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}

.menu li a {
    display: block;
    height: 100%;
    line-height: 41px;
    font-size: 1.125rem;
    color: hsla(105, 40%, 56%, 1);
    white-space: nowrap;
    padding: 7px 25px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: hsla(66, 38%, 64%, 1);
    color: hsla(225, 5%, 17%, 1);
}

a.logo {
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
    line-height: 50px;
    font-family: 'Noto Serif KR', GEorgia, sans-serif;
    white-space: nowrap;
    color: hsla(66, 38%, 64%, 1);
}

.logo img {
    width: 60px;
    vertical-align: middle;
    margin-right: 15px; 
}

.motto {
    position: absolute;
    top: 50%;
    width: 100%;
}

.motto h1 {
    color: hsla(228, 6%, 17%, 1);
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Serif KR', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 0 0 10px hsla(245, 100%, 100%, .6);;
}

.parallax {
    min-height: 720px;
    background: url('/img/bg.jpg') fixed center no-repeat;
    background-size: cover;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(255, 100%, 100%, .35);
}

.section-bg-light {
    min-height: 500px;
    background-color: #FFFACE;
}

.section-bg-dark {
    min-height: 500px;
    background-color: hsla(153, 87%, 27%, .95);
    color: #FFFACE;
    font-weight: 300;
}
.content-block {
    padding: 100px 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Noto Serif KR', sans-serif;
}

p {
    font-size: 1.25rem;
    font-family: 'Raleway', Tahoma, Verdana, sans-serif;
    /* font-weight: 300; */
    line-height: 1.6rem;
    
}
.content-block h1 {
    text-align: center;
}

.section-bg-light article {
    color:hsla(228, 16%, 17%, 1);
}

.suggestion {
    font-size: 1.5rem;
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    line-height: 2.35rem;
    /* list-style-image: url('/img/list-point.png'); */
    /* vertical-align: baseline; */
    font-weight: 300;
}

.suggestion li {
    background: url('/img/list-point.png')no-repeat left;
    padding-left: 35px;
}

.section-bg-pic {
    
    min-height: 500px;
    padding: 0;
}

.contacts-section {
    background-color: hsla(28, 41%, 62%, .95);
    color: hsla(228, 6%, 17%, 1);
    padding: 80px 15px;
}

.contacts-section h1 {
    font-size: 3.5rem;
}

.contacts-section ul {
    padding-left: 20px;
}
.contacts-section ul li {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;

}

.contacts-section a {
    text-decoration: none;
    color: hsla(228, 6%, 17%, 1);
}

.contacts-section a:hover {
    color: hsla(153, 87%, 27%, 1);
}

.contacts-section .fas {
    color: hsla(153, 87%, 27%, 1);
    margin-right: 3px;
}

.contacts-section .fa-paper-plane {
    font-size: 85%;
}

.map {
    height: 500px;
}
.map iframe {
    width: 100%;
    min-height: 500px;
}

footer {
    background-color: hsla(228, 6%, 17%, 1);
    padding:50px 0;
    color: hsla(66, 38%, 64%, 1);;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}